Repository reearth/reearth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rot1024, @yk-eukarya, @HideBa, @KaWaite, @keiya01

.github/CODEOWNERS:

* @rot1024

/server/ @yk-eukarya
/server/pkg/builtin/manifest.yml    @HideBa
/server/pkg/builtin/manifest_ja.yml @HideBa
/web/           @KaWaite
/web/e2e/       @keiya01
/web/src/core/  @keiya01
/web/.github/   @keiya01

add run-redis to Makefile
  server/Makefile
Owners: @yk-eukarya

add redis to config
  server/internal/app/config/config.go
Owners: @yk-eukarya

get msgpack
  server/go.mod
  server/go.sum
Owners: @yk-eukarya

use resdis in UpdateStyle
  server/internal/usecase/interactor/style.go
Owners: @yk-eukarya

RedisGateway
  server/internal/usecase/gateway/redis.go
Owners: @yk-eukarya

add redisAdapter to NewContainer
  server/internal/usecase/interactor/common.go
Owners: @yk-eukarya

get go-redis and go mod tidy
  go.work.sum
  server/go.mod
  server/go.sum
Owners: @rot1024, @yk-eukarya

app.go
  server/internal/app/app.go
Owners: @yk-eukarya

RedisAdapter
  server/internal/infrastructure/redis/redis_adapter.go
Owners: @yk-eukarya

UsecaseMiddleware
  server/internal/app/usecase.go
Owners: @yk-eukarya

fix pkg
  server/pkg/scene/style.go
  server/pkg/scene/style_builder.go
Owners: @yk-eukarya

fix /redis to gitignore
  .gitignore
Owners: @rot1024

docker-compose.yml
  docker-compose.yml
Owners: @rot1024

main.go
  server/internal/app/main.go
Owners: @yk-eukarya

.env.example
  server/.env.example
Owners: @yk-eukarya

use miniredis in TestStyleCRUD
  server/e2e/common.go
  server/e2e/gql_style_test.go
  server/go.mod
  server/go.sum
Owners: @yk-eukarya

fix ping_test
  server/e2e/ping_test.go
Owners: @yk-eukarya
