Repository reearth/reearth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rot1024, @pyshx, @KaWaite, @keiya01

add run-redis to Makefile
  server/Makefile
Owners: @pyshx

add redis to config
  server/internal/app/config/config.go
Owners: @pyshx

get msgpack
  server/go.mod
  server/go.sum
Owners: @pyshx

use resdis in UpdateStyle
  server/internal/usecase/interactor/style.go
Owners: @pyshx

RedisGateway
  server/internal/usecase/gateway/redis.go
Owners: @pyshx

add redisAdapter to NewContainer
  server/internal/usecase/interactor/common.go
Owners: @pyshx

get go-redis and go mod tidy
  go.work.sum
  server/go.mod
  server/go.sum
Owners: @rot1024, @pyshx

app.go
  server/internal/app/app.go
Owners: @pyshx

RedisAdapter
  server/internal/infrastructure/redis/redis_adapter.go
Owners: @pyshx

UsecaseMiddleware
  server/internal/app/usecase.go
Owners: @pyshx

fix pkg
  server/pkg/scene/style.go
  server/pkg/scene/style_builder.go
Owners: @pyshx

fix /redis to gitignore
  .gitignore
Owners: @rot1024

docker-compose.yml
  docker-compose.yml
Owners: @rot1024

main.go
  server/internal/app/main.go
Owners: @pyshx

.env.example
  server/.env.example
Owners: @pyshx

use miniredis in TestStyleCRUD
  server/e2e/common.go
  server/e2e/gql_style_test.go
  server/go.mod
  server/go.sum
Owners: @pyshx

fix ping_test
  server/e2e/ping_test.go
Owners: @pyshx

.github/CODEOWNERS:

* @rot1024

/server/        @pyshx
/web/           @KaWaite
/web/e2e/       @keiya01

/web/src/classic/core/  @keiya01

/web/src/beta/lib/core/ @keiya01
/web/src/beta/features/ @KaWaite
